header {
  align-items: center;
  background: var(--b-primary);
  display: flex;
  font-family: 'Roboto Mono';
  justify-content: space-around;
  height: 70px;
  position: sticky;
  top: 0;
}

header .container-search {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

header .container-search .form-group {
  margin-bottom: 0;
  width: 360px;
}

header .container-search .form-group input {
  font-size: 1em;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Roboto';
}

header .container-search button {
  width: 55px;
}

header nav, header.app-logo {
  width: 20%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100px;
}

header nav .item-header-container {
  height: 20px;
  position: relative;
  width: 20px;
}

header nav .item-header-container a svg {
  fill: var(--c-white);
  cursor: pointer;
  height: 100%;
  width: 100%;
}

header nav .item-header-container a svg:hover { fill: var(--c-purple); }
header nav .plus a svg { stroke: var(--c-white); }
header nav .plus a svg:hover { stroke: var(--c-purple); }

@media (max-width: 560px) {
  header .app-logo{
    display: none;
  }
  header .container-search{ 
    width: 90%;
  }
  header nav {
    display: none;
  }
}