@import './colors.css';
@import './fonts.css';
@import './form.css';
@import './spinner.css';
@import './scrollbar.css';
@import './tooltip.css';
@import './text.css';
@import './flex/flex.css';
@import './spacing.css';
@import './normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--b-primary);
}

button, .btn {
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: var(--c-white);
  font-family: 'Roboto';
  height: 40px;
  outline: none;
}

img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: var(--c-white);
}

.app {
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
}

.logo-app {
  width: 60px;
}

.i-btn {
  width: 50%;
}

.i-btn .form-group {
  margin-bottom: 0;
  width: 360px;
}

.i-btn .form-group input {
  border-radius: 5px 0px 0px 5px;
  font-family: 'Roboto';
  font-size: 1em;
}

.i-btn button {
  background: #6c63ff; 
  background-position: center;
  background-size: 20px;
  width: 55px;
}

.loading {
  background: rgba(0, 0, 0, 0.2);
  display: none;
  height: 100%;
  position: absolute;
  z-index: 10;
}

img, .form-group, .loading,
.form-group input, 
.form-group select,
.form-group textarea { 
  width: 100%;
}

::placeholder {
  color: var(--c-white);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--c-white);
}

::-ms-input-placeholder {
  color: var(--c-white);
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
  display: none;
}

.w-100 {
  width: 100%;
}
