.button {
  border-color: var(--c-purple);
}

.container-register p a:hover {
  color: var(--c-red);
}

.nombre {
  display: flex;
}

.container-title h1 {
  font-size: 30px;
}

.container-login {
  height: 100%;
  width: 100vw;
}

.container-login,
button {
  color: var(--c-white);
  font-family: "Roboto-Mono-Bold" !important;
  font-size: 1em;
}

.login-body .button {
  background: var(--c-purple);
  color: var(--c-white);
  transition: all 0.3s;
  border-radius: 5px;
}

.login-body .form-label {
  font-family: 'Roboto-Mono-Bold';
}

.login-body .button:hover {
  box-shadow: 0 0 0.25rem 0 var(--c-purple);
  border-color: var(--c-purple);
}

.login-box {
  background: var(--b-secondary);
  border-radius: 10px;
  height: 420px;
  width: 360px;
  z-index: 1;
}

.login-body {
  padding: 2em 1.5em;
  height: 100%;
}

.login-body form {
  margin-top: 16px;
}

.register-box {
  background: var(--b-secondary);
  border-radius: 10px;
  height: 520px;
  width: 460px;
  z-index: 1;
}

@media (max-width: 568px) {
  .login-box {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }

  .register-box {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }

  .star {
    display: none;
  }
}
