.c-u-p {
  flex-direction: column;
  height: calc(100% - 70px);
}

.c-u-p .c-u-i {
  height: 49px;
  justify-content: flex-start;
}

.c-u-p .c-u-i .u-profile-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 32px;
  margin-left: 10%;
  width: 180px;
}

.u-profile-link a {
  height: 32px;
  width: 32px;
}

.u-profile-link span {
  color: var(--c-white);
}

.u-profile-link img {
  border-radius: 100%;
}

.c-u-p .c-p {
  display: flex;
  height: calc(100% - 49px);
  justify-content: space-evenly;
}

.c-u-p .c-p .c-p-u-i {
  width: 60px;
}

.c-p-u-i .tooltip a svg {
  width: 24px;
}

.c-p-u-i .tooltip a:hover + .item-tooltip {
  bottom: 5px;
  left: 60px;
}

.c-u-p .c-p .c-p-data {
  color: var(--c-white);
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  max-width: 670px;
  width: 55%;
}

.c-u-p .c-p-data .c-p-data-data h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Roboto';
}

.c-u-p .c-p-data .c-p-data-data p {
  font-family: 'Roboto Mono';
  text-align: justify;
}

.c-u-p .c-p .c-p-comments {
  width: 30%;
}

.c-u-p, 
.c-u-p .c-p,
.c-u-p .c-u-i, 
.c-u-p .c-p .c-p-comments .i-btn {
  width: 100%;
}

@media (max-width: 768px) {
  .c-u-p .c-u-i {
    height: 49px;
    width: 90%;
  }

  .c-u-p .c-p {
    flex-direction: column;
    justify-content: flex-start;
  }

  .c-u-p .c-p .c-p-u-i {
    display: flex;
    justify-content: space-evenly;
    height: 49px;
    width: 100%;
  }

  .c-u-p .c-p .c-p-data {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
  }

  .c-u-p .c-p .c-p-data .c-p-data-img {
    height: 260px;
  }

  .c-u-p .c-p .c-p-data .c-p-data-data {
    width: 90%;
  }

  .c-u-p .c-p .c-p-comments {
    width: 100%;
  }
}