.posts {
  height: 580px;
  padding-right: 15px;
  margin-bottom: 70px;
  width: 100%;
}

.posts .title-post {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
}

.posts .container-posts {
  align-content: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow-x: auto;
  width: 100%;
}

.posts .container-posts .post {
  background: #444;
  border-radius: 5px;
  cursor: pointer;
  height: 100px;
  margin: 15px;
  width: 100px;
}

.posts .container-posts .post-s {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: 430px;
}

.post .container-posts .b, .post .container-posts .s {
  object-fit: cover;
}

.posts .container-posts .b {
  height: 350px;
  width: 430px;
}

.posts .container-posts .s {
  margin: 0;
  height: 150px;
  width: 197px;
}