body, html{
    height: 100vh;
}

.bg.sky{
    background-color: #2e0748;
    background-image: linear-gradient(0deg, #2e0748 0%, #121212 100%);
}

.container-title h1 {
    font-family: utopia-std-headline, serif;
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
}

.container-login {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
}

.login-body .button {
    background: #6c63ff;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s;
}
.login-body .button:hover {
    box-shadow: 0 0 0.25rem 0 #6c63ff;
}

.login-box{
    background: #ffffff;
    border-radius: 10px;
    height: 420px;
    width: 360px;
    z-index: 1;
}

.login-body{
    padding: 2em 1.5em;
    height: 100%;
}

.login-body form {
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: center;
}

.form-group {
    height: 40px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.form-group, .form-group input, .form-group .form-label {
    transition: all 0.3s;
}
.form-group input {
    border: none;
    border-radius: 5px;
    box-shadow: rgb(206, 212, 218) 0px 0px 0.25rem 0px;
    height: 100%;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.form-group input:focus {
    box-shadow: #6c63ff 0px 0px 0.25rem 0px;
}

.form-group input:focus + .form-label {
    color: #6c63ff;
}

.form-label{
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 16px;
    color: #444053;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    font-size: 0.8em;
    left: 0px;
    top: -25px;
}
.form-control::placeholder{
    color:transparent;
}

@media (max-width: 568px) {
    .login-box {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}
