.sky{
    width: 100%;
    height: 100%;
    position: relative;
}
.star{
    z-index: 0;
    background: white;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    
}
.star.animationOne{
    animation: starFlickerOne infinite 1.5s alternate;
}
.star.animationTwo{
    animation: starFlickerOne infinite 1.5s alternate ;
    animation-delay: 1s;
}
.star.animationThree{
    animation: starFlickerOne infinite 1.5s alternate ;
    animation-delay: 1.5s;
}

@keyframes starFlickerOne {
    0% {background:  rgb(255, 255, 255);}
    100% {background:  rgba(255, 255, 255,0);}
}
