@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  background-color: #121212;
  height: 100vh;
  overflow-y: auto;
  width: 100vw;
}

.form-group {
  height: 40px;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.form-group, .form-group input, .form-group .form-label {
  transition: all 0.3s;
}
.form-group input {
  border-style: solid;
  border-radius: 5px;
  border-color: #464646;
  height: 100%;
  outline: none;
  padding-left: 10px;
  width: 100%;
}
.form-group input{
  background-color: #464646;
  color: #fff;
}
.form-group input:focus {
  background-color: #464646;
  border-color: #6c63ff;
}

.form-label{
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 16px;
  color: #fff;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  font-size: 0.8em;
  left: 0px;
  top: -25px;
}
.form-control::placeholder{
  color:transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #444444;
  border: 0px none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}
::-webkit-scrollbar-thumb:active {
  background: #6c63ff;
}
::-webkit-scrollbar-track {
  background: #2c2c2c;
  border: 20px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #2e2e2e;
}
::-webkit-scrollbar-track:active {
  background: #2c2c2c;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}